*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.navlist{
    display: flex;
}

.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
}

.navlist a:hover{
    border-bottom: 2px solid white;
}



button {
 padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

button::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: #2d8cf0;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

button:hover {
 color: #e8e8e8;
}

button:hover::before {
 width: 100%;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: black;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section{
  background-color: black;
  padding: 0 19%;
}

.hero-text h5{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}

.hero-text p{
    font-family: 'Poppins', sans-serif;;
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 50px;
}


.hero-phone {
    background: transparent;
    width: 600px;
    height: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.About {
        background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 19%;
}

.About-text {
  width: 30%;
}

.main {
  width: 50%;
    margin-right: 150px;
}

.About img {
  width: 100%;
  max-width: 100%;
  height: auto;
}


.About script {
    height: auto;
    width: 430px;
}

.About-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.About-text p {
    font-family: 'Poppins', sans-serif;;
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 50px;
}


button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

button span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: .6s ease;
}

button span:nth-child(6) {
  position: relative;
}

button span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

button span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

button span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

button span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

button span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

button:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}


.btn {
    padding: 7px 15px;
    border-radius: 10px;
    border: 0;
    background-color: #2d8cf0;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: 0px 10px 0px 0px #2d8cf0;
    color: hsl(0, 0%, 100%);
}

.btn:hover {
 box-shadow: white 0px 7px 0px 0px;
}

.btn:active {
 background-color: white;
 /*50, 168, 80*/
 box-shadow: white 0px 0px 0px 0px;
 transform: translateY(5px);
 transition: 200ms;
}


.logo{
    font-size: 30px;
    font-weight: 700;
    color: #2d8cf0;
}

.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .5s ease;
}

.icons i:hover{
    color: #2d8cf0;
    transform: translateY(-5px);
}

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}

.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-down i:hover{
    transform: translateY(-5px);
}